body{
    font-family: 'Lato', sans-serif;

    font-family: 'Open Sans', sans-serif;

}

#home{
    color: #ff5402;
}

header{
    max-width: 1440px;
}

header{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: static;
}

.logo{
    margin-left: 1%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    display: flex;


}

nav li{
    list-style: none;
    margin-right: 1%;
}

nav a{  
    text-decoration: none;
    padding: 20px;
    color: #424247;

}

.container-2{
    background-image: url('./images/logo.png');
    background-repeat: no-repeat;
    height: 500px;
    width: 1170px;
    text-align: center;
}


h1{
    padding-top: 106px;
    font-size: 64px;
    color: #fff;
}


.pra{
    font-size: 16px;
    color: #fff;
    margin-top: 24px;
    margin-right: 247px;
    margin-left: 247px;
}


@media screen and (max-width: 576px) {
    header{
        padding: 20px;
        text-align: center;
    }
    nav{
        flex-direction: column;
        margin-left: 90%;
    }
}